*{
    font-family: Arial, Arial, Helvetica, sans-serif
    font-size: 16px;
}

body{
    background-color: rgb(137, 187, 234);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(21, 0, 69);
}

h2 {
    font-size: 1.5em;
    color: rgb(521, 0, 69);
}

img.lado {
    float: right
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(21, 0, 692)
}

a:hover {
    text-decoration: underline;
    color: rgb(58, 0, 255)
}